body {
  color: white;
  margin: 0;
  background-color: black;

  
}
canvas {
  width: 70%;
  
}
.canvas-wrapper{
  /* border-style: solid; */
  background-image: url('../images/bg1.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 90%;
  height: 90%; 
  margin: 5%;
  /* margin-left: 20%;
  padding-left: 10%; */
  float: center;
  padding: 0px;
}
.center {
  text-align: center;
}
.game {
  position: relative;
}
#score{
  position: absolute;
  top:90%;
  left:5%;
  font-size: 50px;
  
  border: 1px solid black;
}

#highscore{
  position: absolute;
  top:90%;
  float: right;
  left: 70%;
  font-size: 50px;
  color: beige;
  border: 1px solid black;
}

#tagline{
  position: absolute;
  top:90%;
  float: right;
  left: 30%;
  font-size: 50px;
  color: beige;
  border: 1px solid black;
}
